<footer>
    <div class="container">
        <div class="row">
            <!-- About -->
            <div class="chakkımızdaol-md-6 col-sm-12 text-center">
                <h3>About</h3>
                <div class="footer-about">
                    En iyi aşçılar annelerimiz olsa da, sizlere lezzetli tarifler hazırlamaya çalışıyorum.
                </div>
            </div>
            <!-- Author -->
            <div class="col-md-6 col-sm-12 text-center">
                <div class="footer-author">
                    Sevgi ile
                    <i class="fa fa-heart" aria-hidden="true"></i>
                    pişirilen yemekler
                    <a href="https://jraleman.com/" target="_blank">Kaan Demiray</a>.
                </div>
            </div>
        </div>
    </div>
</footer>
