<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="/Recipe/MainMenu/" style=" font-size:1.7rem;">Kaan's Kitchen</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/Recipe/MainMenu/" style="margin-left:35rem; font-size:1.3rem;">Ana Menü</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/FoodType/Index/" style="margin-left:6rem; margin-right:6rem;  font-size:1.3rem;">Tarifler</a>

                </li>
            </ul>
        </div>
    </div>
</nav>
