

@{
    ViewBag.Title = "MainMenu";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="container" >
    <h2>Müthiş Şeflerin elinden mükemmel lezzetler</h2>
    <img style="width:80%;" src="~/masterchef.png" />
</div>


